.skin-red-light .sidebar-menu > li:hover > a,
.skin-red-light .sidebar-menu > li.active > a {
    border-left-color: #dd4b39;
    color: #000000;
}


.nav-tabs-custom .nav-tabs .badge {
    margin-left: 10px !important;
}

.nav-tabs-custom .list-footer {
    margin-top: 10px !important;
}

.nav-tabs-custom .pagination {
    margin: 0;
}



.modal .modal-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.modal .modal-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}



table.table > thead > tr > th {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

table.table > tbody > tr > td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

table.table > tbody > tr:last-child > td {
    border-bottom: 0;
}



.box .box-body .table {
    margin-bottom: 0;
}

.box .box-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.box .box-footer .pagination {
    margin: 0;
}

.box .box-footer .summary {
    line-height: 34px;
}



.dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.1);
}
