.sockets-status {
    color: #fff;
    display: block;
    float: left;
    font-size: 16px;
    line-height: 50px;
    margin: 0;
    opacity: 0.2;
    text-align: center;
    width: 40px;
}

.sockets-status.active {
    opacity: 1;
}

/* * */

dl {
    margin-bottom: 0;
}

dt {
    font-weight: bold;
    padding: 2px 0;
}

dd {
    padding: 2px 0;
}

dd pre {
    margin: 0;
}

/* * */

#timeline {
}

#timeline .pagination {
    margin-top: 0;
}

#timeline .summary {
    line-height: 30px;
}

.trace div:first-child {
    font-weight: bold;
    line-height: 1.8;
    text-transform: uppercase;
}

.trace div:nth-child(2) {
    line-height: 2.0;
}

.trace hr {
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    margin: 5px 0 15px 0;
}
